:root {
  --text: white;
  --detail: aqua;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(66, 66, 66, 0.795);
}

.container {
  display: flex;
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.549);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
  min-height: 100vh;
}

/* ASIDE */
aside {
  width: 35%;
  background-color: black;
  color: var(--text);
}

.perfil {
  padding-top: 20px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.perfil::after {
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  background-color: rgba(197, 197, 197, 0.801);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.perfil img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.perfil h2,
.perfil h5 {
  margin: 5px 0;
}

.perfil h5 {
  color: rgb(190, 190, 190);
}

/* Information */
.information {
  padding: 10px 20px;
}

.information p {
  color: rgb(204, 204, 204);
}

/* Skills */
.skill-container {
  font-family: Arial, sans-serif;
  margin-bottom: 15px;
}

.skill-label {
  font-size: 14px;
  color: rgb(204, 204, 204);
  display: block;
  margin-bottom: 5px;
}

.skill-bar {
  width: 200px;
  height: 7px;
  background: #dddddd5b;
  border: 2px solid black;
  position: relative;
  margin-bottom: 10px;
}

.skill-fill {
  height: 100%;
  background-color: var(--detail);
  text-align: right;
  line-height: 20px;
  color: black;
  font-weight: bold;
  padding-right: 5px;
  width: 0;
  animation: fillAnimation 2s forwards;
}

@keyframes fillAnimation {
  0% {
    width: 0;
  }
  100% {
    width: var(--width);
  }
}

/* Languages */
.skill-circle {
  display: flex;
  flex-direction: row; 
  gap: 20px; 
}

.skill-item {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.inner-circle {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid var(--detail);
  padding: 0px;
  box-sizing: content-box;
}

.language-label {
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255); /* Cor do texto */
}

/* MAIN */
main {
  box-sizing: border-box;
  width: 65%;
  background-color: rgba(34, 32, 32, 0.455);
  color: var(--text);
  padding: 20px;
  z-index: 2;
}

main p {
  font-weight: 100;
}

.formation_text {
  box-sizing: border-box;
  width: 40%;
  flex: 1;
}

.formation_text span,
.formation_text p, 
.formation_text h4 {
  margin: 20px 0;
}

.formation_text h4 {
  color: #ddddddb0;
  position: relative;
  top: -15px;
}

.formation_text span {
  color: var(--detail);
  font-weight: bold;
}
.formation_text p {
  font-weight: bold;
}

.formation_text h4 {
  font-weight: 100;
}

.certification_text h2,
p {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  aside {
    width: 100%;
  }
  main {
    width: 100%;
  }
  aside {
    text-align: center;
  }
  .skill-container {
    place-items: center;
  }
  .skill-circle {
    justify-content: center;
  }
}
